body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
  }
  
  span {
    display: inline-block;
    padding: 5px 10px;
    color: #fff;
    font-size: 12px;
    background-color: #5389d6;
    border-radius: 4px 4px 0 0;
  }
  
  pre {
    margin: 0;
    padding: 10px;
    font-size: 12px;
    background-color: #c7deff;
    border: 2px solid #5389d6;
    border-radius: 0 3px 3px 3px;
    overflow-x: scroll;
  }